body,
html {
    min-height: 100vh;
    overflow: hidden;
    background-color: #f3f3f3;

    p{
        font-size: 1.25em;
        line-height: 1.5;
    }

}


body{
    padding-top: 90px;
    

    >*{
        padding: 90px 60px;
    }
}
